.btn.btn-light-primary {
    border-color: var(--primary);
    background-color: var(--primary);
    color: rgba(0, 0, 0, 0) !important;
    transition: all .3sease !important;
    text-shadow: 0 0 0 #fff, 500px 0 0 #fff;
    overflow: hidden;
}
.btn.btn-light-danger {
    border-color: var(--bs-tertiary-bg);
    background-color: var(--bs-danger);
    color: rgba(0, 0, 0, 0) !important;
    transition: all .3sease !important;
    text-shadow: 0 0 0 #fff, 500px 0 0 #fff;
    overflow: hidden;
}
.swal2-backdrop-show {
    z-index: 9999999;
}